:root {
    --accent-color: rgb(28, 28, 185);
    --hover-color: rgb(73, 73, 218);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

body {
    padding: 10px 20%;
    height: 100vh;
}

.container {
    text-align: center;
}

.app-title {
    margin: 2rem 0 0.5rem;
    font-size: 2rem;
}

.add-new-item {
    color: var(--accent-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


form {
    display: flex;
    flex-direction: column;
}

form * {
    font-size: 1rem;
    margin-bottom: .4rem;
    padding: 5px 12px;
}

.name-container {
    text-align: left;
    width: 100%;
    display: flex;
}

.name-container input {
    flex: 1;
}

.date-amount-container {
    display: flex;
}

.date-container, .amount-container {
    margin: 0;
    text-align: left;
    padding: 0;
    flex: 1;
}

.date-container input {
    width: 450px;
    
}

.date-container label {
    margin-right: 5px
}

.amount-container input {
    width: 435px;
}

.error-message {
    color: #db4451;
}

.btn-container button {
    background-color: var(--accent-color);
    color: white;
    border-radius: 6px;
    border: none;
    box-shadow:0 0 20px rgb(0,0,0,0.15);

}

.btn-container button:hover {
    background-color: var(--hover-color);
}

.content-table {
    border-collapse: collapse;
    height: 5rem;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 0.9rem;
    box-shadow:0 0 20px rgb(0,0,0,0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead th {
    background-color: var(--accent-color);
    color: white;
    height: 2rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 2rem;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.btn-delete {
    width: 1.5rem;
}

